@use '../../../../var';

.slider-controls {
  margin-block-start: 4rem;

  @media (max-width: var.$desktop) {
    margin-block-start: 3rem;
    @media (max-width: var.$tablet) {
      margin-block-start: 2rem;
      @media (max-width: var.$mobile) {
        margin-block-start: 1rem;
      }
    }
  }
}

.swiper-pagination-bullet {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: var.$gray-bullet;
  cursor: auto;

  @media (max-width: var.$desktop) {
    width: 1.2rem;
    height: 1.2rem;
  }

  &-active {
    background-color: var.$gray-active;
  }
}
.slider-btn-prev,
.slider-btn-next {
  svg {
    height: 1.6rem;
    width: 1.6rem;
  }

  svg path {
    fill: var.$gold;
  }

  &:hover {
    svg path {
      fill: var.$red;
    }
  }
}
