@use '../../../../var';

.slider-wrapper {
  max-width: var(--slider-w);
  margin-inline-start: auto;

  @media (max-width: var.$tablet) {
    margin-inline-start: 0;
  }
}

.slider-welcome {
  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0.5) 16.19%,
      rgba(0, 0, 0, 0) 30.73%
    );
    pointer-events: none;

    @media (max-width: var.$tablet) {
      display: none;
    }
  }

  &__image-slide {
    display: block;
    width: 100%;
  }
}
