@use '../../../../var';

.mapboxgl-map {
  @media (max-width: var.$desktop) {
    max-height: 455px;

    @media (max-width: var.$tablet) {
      max-height: 475px;

      @media (max-width: var.$mobile) {
        max-height: 245px;
      }
    }
  }
}
