@use '../../../../var';

.form-field-input {
  &.error {
    border-color: var.$red;

    input {
      color: var.$red;
    }

    svg path {
      fill: var.$red;
    }
  }

  input::placeholder {
    text-transform: capitalize;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
  }

  span {
    position: absolute;
    left: 0;
    bottom: -45%;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var.$red;
  }
}
