@use '../../../../var';

.slider-video {
  &__slider-pagination {
    .swiper-pagination-bullet {
      width: var(--slider-pagination-btn-size);
      height: var(--slider-pagination-btn-size);
      border-radius: 100%;
      background-color: var.$gray-bullet;
      cursor: auto;

      &-active {
        background-color: var.$gray-active;
      }
    }
  }

  &__slider-btn-prev,
  &__slider-btn-next {
    svg {
      height: 1.6rem;
      width: 1.6rem;
    }

    svg path {
      fill: var.$gold;
    }

    &:hover {
      svg path {
        fill: var.$red;
      }
    }
  }
}
