@use '@/var';

.cards-item {
  display: flex;
  flex-direction: column;

  @media (max-width: var.$desktop) {
    &:nth-child(odd) {
      justify-self: right;

      @media (max-width: var.$mobile) {
        justify-self: center;
      }
    }

    &:nth-child(even) {
      justify-self: left;

      @media (max-width: var.$mobile) {
        justify-self: center;
      }
    }
  }

  @media (max-width: var.$mobile) {
    justify-self: center;
  }
}

.cards-link {
  display: block;
  position: relative;
  margin-block-end: 2rem;
  transition: color 0.3s linear;

  img {
    display: block;
    width: 100%;
    margin-block-end: 2.5rem;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 15rem;
    height: 0.2rem;
    background-color: var.$red;
    transition: width 0.3s linear;
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    color: var.$gold-hover;
  }
}

.cards-title {
  font-family: 'Forum';
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  @media (max-width: var.$desktop) {
    font-size: 2.8rem;
    line-height: 3.1rem;
    letter-spacing: 0.3rem;

    @media (max-width: var.$tablet) {
      font-size: 2.2rem;
      line-height: 2.4rem;

      @media (max-width: var.$mobile) {
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.5rem;
      }
    }
  }
}

.cards-description {
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-transform: capitalize;

  span {
    display: block;
    margin-block-start: 1rem;
    font-size: 1.8rem;
    line-height: 2.1rem;

    @media (max-width: var.$desktop) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  @media (max-width: var.$desktop) {
    font-size: 2rem;
    line-height: 2.3rem;

    @media (max-width: var.$tablet) {
      font-size: 1.8rem;
      line-height: 2.1rem;

      @media (max-width: var.$mobile) {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
  }
}
