@use '@/var';

.menu-link {
  display: block;
  padding-block: 1rem;
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  cursor: pointer;

  @media (max-width: var.$tablet) {
    font-size: 1.8rem;
    line-height: 2.1rem;

    @media (max-width: var.$mobile) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  &:hover {
    color: var.$gold-hover;
  }
}

.menu-burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem 0;
  width: 100%;
  padding-block-start: calc(1.5rem + var(--header-height));
  padding-block-end: 2.5rem;
  padding-inline-start: 5.5rem;
  background-color: var.$bg-black;
  animation-name: dropdown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @keyframes dropdown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12.5rem;
    padding-block: 1rem;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    transition: color 0.2s linear;
    cursor: pointer;

    &:hover {
      color: var.$gold-hover;
      svg path {
        fill: var.$gold-hover;
      }
    }
  }
}
