@use './var';

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625em;
  box-sizing: border-box;
  user-select: none;
  color: var.$white;
  scroll-behavior: smooth;

  --header-height: 12rem;
  --section-py: 7.5rem;
  --section-title-mb: 10rem;
  --h2-fs: 8rem;
  --h2-lh: 9rem;
  --title-mb: 7.5rem;
  --discover-subtitle-fs: 2.8rem;
  --discover-subtitle-lh: 3.3rem;
  --discover-subtitle-mb: 7.5rem;
  --slider-w: 100rem;
  --slider-controls-w: 60rem;
  --slider-controls-h: 12rem;
  --slider-controls-ml: auto;
  --slider-controls-mt: -6rem;
  --slider-controls-gap: 6rem;
  --slider-pagination-btn-size: 1.6rem;
  --slider-pagination-mt: 4rem;
  --slider-pagination-gap: 2.5rem;

  @media (max-width: var.$desktop) {
    --header-height: 10rem;
    --section-py: 6rem;
    --section-title-mb: 8rem;
    --h2-fs: 5rem;
    --h2-lh: 7.5rem;
    --title-mb: 4rem;
    --discover-subtitle-fs: 2.4rem;
    --discover-subtitle-lh: 3.8rem;
    --discover-subtitle-mb: 5rem;
    --slider-w: 70rem;
    --slider-controls-w: 100%;
    --slider-controls-ml: 0;
    --slider-controls-gap: 4.5rem;
    --slider-pagination-btn-size: 1.2rem;
    --slider-pagination-mt: 3rem;

    @media (max-width: var.$tablet) {
      --header-height: 8rem;
      --section-py: 4rem;
      --section-title-mb: 6rem;
      --h2-fs: 4rem;
      --h2-lh: 6rem;
      --title-mb: 2rem;
      --discover-subtitle-fs: 2rem;
      --discover-subtitle-lh: 2.3rem;
      --slider-w: 100%;
      --slider-controls-h: 10rem;
      --slider-controls-mt: 0;
      --slider-pagination-gap: 1.5rem;
      --slider-pagination-mt: 2rem;

      @media (max-width: var.$mobile) {
        --header-height: 6rem;
        --h2-fs: 2.8rem;
        --h2-lh: 4rem;
        --discover-subtitle-fs: 1.6rem;
        --slider-controls-h: 8rem;
        --slider-controls-gap: 2.5rem;
        --slider-pagination-btn-size: 0.8rem;
        --slider-pagination-gap: 1rem;
        --slider-pagination-mt: 1rem;
      }
    }
  }
}

// //? slider counter
// --counter-fs: 2.2rem;
// --counter-lh: 4rem;
// --counter-gap: 1rem;

* {
  box-sizing: inherit;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

section {
  padding-block: var(--section-py);
}

h2 {
  position: relative;
  margin-block-end: var(--section-title-mb);
  font-family: 'Forum';
  font-weight: 400;
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2.5rem;
    width: 100%;
    height: 0.3rem;
    background-color: var.$red;
  }
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var.$bg-black;
}

main {
  position: relative;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
  transition-property: color, border, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

ul,
ol {
  list-style: none;
}

svg path {
  transition-property: stroke, fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s linear;

  &:focus {
    outline: none;
  }

  &:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

input {
  border: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: inherit;
  }
}

.container {
  max-width: 1480px;
  padding-inline: 2rem;
  margin-inline: auto;
}
