$desktop: 1025px;
$tablet: 769px;
$mobile: 421px;

$black: #000000;
$bg-black: #030303;

$gray: #666666;
// --gray: #999999;
// --gray-hover: #989898;
// --gray-active: #333333;
// --bg-gray: #c4c4c4;

$white: #ffffff;
$white-hover: #e7e7e7;
// --bg-white: #dbdbdb;

$red: #710707;

$gold: #9d8665;
$gold-hover: #9d8665;
$gold-active: #7e6c51;
$gold-select: #caaa7d;
