@use '@/var';

.footer {
  padding-block-start: var(--section-py);

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
    margin-block-end: 4rem;

    @media (max-width: var.$mobile) {
      flex-direction: column;
    }
  }

  &__menu {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 2rem;

    @media (max-width: var.$mobile) {
      align-self: stretch;
      &-item:nth-child(3n + 1) {
        justify-self: start;
      }

      &-item:nth-child(3n + 3) {
        justify-self: end;
      }
    }
  }
  ß hr {
    height: 0.2rem;
    background-color: var.$gray;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 12rem;
    font-weight: 100;
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;

    @media (max-width: var.$tablet) {
      min-height: 10rem;

      @media (max-width: var.$mobile) {
        font-size: 1.6rem;
      }
    }
  }

  &__github-link {
    display: flex;
    align-items: center;

    &:hover {
      color: var.$gold-hover;

      svg path {
        stroke: var.$gold-hover;
      }
    }

    @media (max-width: var.$tablet) {
      flex-direction: column;

      svg {
        height: 36px;
      }
    }
  }

  &__rss-link {
    svg {
      height: 96px;

      @media (max-width: var.$desktop) {
        height: 80px;

        @media (max-width: var.$tablet) {
          height: 64px;

          @media (max-width: var.$mobile) {
            height: 48px;
          }
        }
      }
    }

    &:hover {
      svg path {
        stroke: var.$gold-hover;
      }
    }
  }
}
