@use '../../../var';

.section-tickets {
  background-color: var.$white;

  &__title {
    position: relative;
    color: var.$gold;
    margin-block-end: var(--section-title-mb);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2.5rem;
      width: 100%;
      height: 0.3rem;
      background-color: var.$red;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;

    // @media (max-width: var.$tablet) {
    //   flex-direction: column;
    // }
  }

  &__figure {
    img {
      display: block;
      width: 100%;
    }
  }
}
